<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modul_spp_ukk2021">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SiAKAD"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.ModulSPP_UKK2021"
        android:usesCleartextTraffic="true">

        <!--Splash & Onboarding-->
        <activity
            android:name=".UI.UI.Splash.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.UI.Splash.OnboardingActivity"
            android:theme="@style/BoardingFullscreen" />

        <!--Login-->
        <activity android:name=".UI.UI.Home.punyaSiswa.LoginSiswaActivity" />
        <activity android:name=".UI.UI.Home.punyaPetugas.LoginStaffActivity" />

        <!--Activity Siswa-->
        <activity android:name=".UI.UI.Home.punyaSiswa.HomeSiswaActivity" />

        <!--Activity Petugas-->
        <activity android:name=".UI.UI.Home.punyaPetugas.HomePetugasActivity" />
        <activity android:name=".UI.UI.Home.punyaPetugas.TransaksiActivity" />

        <!--Activity Admin-->
        <activity android:name=".UI.UI.Home.punyaAdmin.HomeAdminActivity" />
        <activity android:name=".UI.UI.Home.punyaAdmin.DataSiswaActivity" />
        <activity android:name=".UI.UI.Home.punyaAdmin.TambahSiswaActivity" />
        <activity android:name=".UI.UI.Home.punyaAdmin.TambahKelasActivity" />
        <activity android:name=".UI.UI.Home.punyaAdmin.TambahSPPActivity" />
        <activity android:name=".UI.UI.Home.punyaAdmin.TambahPetugasActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>