<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modul_spp_ukk2021">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="espepe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModulSPP_UKK2021"
        android:usesCleartextTraffic="true">

        <!--Splash & Onboarding-->
        <activity
            android:name=".UI.Splash.LaunchActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Splash.SplashActivity"
            android:noHistory="true" />
        <activity android:name=".UI.Splash.LoginChoiceActivity" />

        <!--Activity Siswa-->
        <activity android:name=".UI.Home.punyaSiswa.LoginSiswaActivity" />
        <activity android:name=".UI.Home.punyaSiswa.HomeSiswaActivity" />

        <!--Activity Petugas-->
        <activity android:name=".UI.Home.punyaPetugas.LoginStaffActivity" />
        <activity
            android:name=".UI.Home.punyaPetugas.HomePetugasActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".UI.Home.punyaPetugas.DataPembayaranActivity" />
        <activity android:name=".UI.Home.punyaPetugas.PembayaranActivity" />

        <!--Activity Admin-->
        <activity android:name=".UI.Home.punyaAdmin.HomeAdminActivity" />
        <activity android:name=".UI.Home.punyaAdmin.DataPetugasActivity" />
        <activity android:name=".UI.Home.punyaAdmin.DataKelasActivity" />
        <activity android:name=".UI.Home.punyaAdmin.DataSPPActivity" />
        <activity android:name=".UI.Home.punyaAdmin.TambahPetugasActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>